@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "searchbox.css";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: rgb(26, 26, 26)
} 

.inRow {
  display: flex;
  background-color: black;
  color: white;
}

.inRow > div:nth-child(n) {
  margin-bottom: 5px;
}

.poster {
  width:100%;
  height: 100%;
}

.login {
  margin-left: auto;
}

.sticky-bottom {
  /* position: sticky; */
  bottom: 0;
}

.abc {
  border-radius: 50%!important;
 
}

.element {
  margin-right: 30px;
  margin-top: 15px;
}

.logo {
    height: 50px; 
}

.logo2 {
  height:50px;
}

.size-icon {
  width: 1.5rem!important;
  margin-right: 0.5rem;
}

.size-icon-v2 {
  width: 2rem!important;
  height: 25px;
}

.movie {
  font-size: 1rem;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.slick-next {
  right: 0!important
}

.slick-prev {
  left: -25px!important;
}

.menu-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.movie {
  flex: 0 1 33.3333333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .abc::after {
  border-left: 15px solid rgb(255, 255, 255);
} */

.video {
  position: absolute;
  height:  480px;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column;
}

.navbar-intro {
  font-weight: bold;
  line-height: normal;
  display: flex;
}

.test {
  width: 100%;
  height: 30px;
  background-color: rgb(26, 26, 26); 
}

.nav-review {
  display: flex;
}








